<h2>My Coffee</h2>
<div>
  <label>Coffee name:</label> <input #coffeeName />
  <button (click)="add(coffeeName.value); coffeeName.value=''">
    Add
  </button>
</div>
<ul class="coffee">
	<li *ngFor="let coffeeDetail of coffee"
	[class.selected]="coffeeDetail === selectedCoffee"
	(click)="onSelect(coffeeDetail)">
	  <span class="badge">{{coffeeDetail.id}}</span> {{coffeeDetail.name}}
	  	<button class="delete" (click)="delete(coffeeDetail); $event.stopPropagation()">x</button>
	</li>
</ul>
<div *ngIf="selectedCoffee">
  <h2>
	{{selectedCoffee.name | uppercase}} is my favorite coffee
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>