<h2>My Coffee</h2>

<div class="row">
    <div class="col-xs-12" *ngFor="let coffeeDetail of coffee">
        <div class="btn-group btn-group-lg">

            <button [ngClass]="{'btn-success': coffeeDetail === selectedCoffee }"
                    class="btn btn-default" (click)="onSelect(coffeeDetail)" type="button">
                <span class="badge">{{coffeeDetail.amount}}</span> {{coffeeDetail.name}} <star-rating (ratingUpdated)="saveRating($event, coffeeDetail)" [coffeeRating]="coffeeDetail.rating"></star-rating>
            </button>

            <button class="btn btn-default btn-danger" (click)="delete(coffeeDetail); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" *ngIf="selectedCoffee">
        <h2>
            {{selectedCoffee.name | uppercase}} is my favorite coffee
        </h2>
        <button class="btn btn-default" (click)="gotoDetail()">
            View Details <span class="glyphicon glyphicon-menu-right"></span>
        </button>
    </div>
</div>


